{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "import/no-commonjs": "off",
    "jsx-quotes": "off"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "requireConfigFile": false
  },
  "ignorePatterns": ["**/__test__/**"]
}
