node_modules/
.temp
.DS_Store
.vscode
.idea
packages/ossa/lib/
packages/**/dist/
packages/**/libs/
dist/
coverage
allure-report
packages/ossa-demo/test/results
packages/ossa-demo/test/e2e/videos
packages/ossa-demo/test/e2e/screenshots
.swc/
