@import '../base.scss';

.css-animate {
  &--fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  &--fade-out {
    animation-name: fadeOut;
  }

  &--fade-out-down {
    animation-name: fadeOutDown;
  }

  &--fade-out-up {
    animation-name: fadeOutUp;
  }

  &--fade-in-up {
    animation-name: fadeInUp;
  }

  &--fade-in-down {
    animation-name: fadeInDown;
  }

  &--animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes fadeOutDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
