@import '../base.scss';
@import './picker-group.scss';
@import './picker-popup.scss';

.ossa-date-picker {
  .ossa-group-container {
    display: flex;
    flex-direction: row;

    /* stylelint-disable */
    os-picker-group {
      flex: 1;
    }
    /* stylelint-enable */
  }
}
