@import '../base.scss';

.ossa-stepper {
  .ossa-icon {
    font-size: $--font-size-1;
  }

  &__bts {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include utils-formInit();
    @include stepper-variant(60px,52px,24px,1PX);
  }

  &__minus {
    border-radius: 4px 0 0 4px;
    @include hairline-surround($--color-border-base-1);

    &::after {
      border-right-width: 0;
      border-radius: 8px 0 0 8px;
    }

    &.ossa-stepper__bts--is-readonly {
      color: $--text-color-disabled;

      &::after {
        border-color: $--text-color-disabled;
      }
    }

    &.ossa-stepper__bts--is-disabled {
      color: $--text-color-disabled;

      &::after {
        border-color: $--text-color-disabled;
      }
    }
  }

  &__plus {
    border-radius: 0 4px 4px 0;
    //border-left: none;
    @include hairline-surround($--color-border-base-1);

    &::after {
      border-left: none;
      border-radius: 0 8px 8px 0;
    }
    // &.is-readonly{
    //     @include readonly();
    // }
    &.ossa-stepper__bts--is-readonly {
      color: $--text-color-disabled;

      &::after {
        border-color: $--text-color-disabled;
      }
    }

    &.ossa-stepper__bts--is-disabled {
      color: $--text-color-disabled;

      &::after {
        border-color: $--text-color-disabled;
      }
    }
  }

  &__content {
    display: inline-block;
    @include stepper-variant(58px,52px,24px,1PX);
    @include hairline-surround($--color-border-base-1);

    &::after {
      border-radius: 0;
    }

    &.ossa-stepper__input--is-readonly {
      color: $--text-color-disabled;

      &::after {
        border-color: $--text-color-disabled;
      }
    }

    &.ossa-stepper__input--is-disabled {
      &::after {
        border-color: $--text-color-disabled;
      }

      .ossa-stepper__input {
        color: $--text-color-disabled !important;
      }

      .ossa-stepper__input:disabled,
      .ossa-stepper__input.disabled {
        color: $--text-color-disabled;
        -webkit-text-fill-color: $--text-color-disabled;
        -webkit-opacity: 1;
        opacity: 1;
      }
    }
  }

  &__input {
    @include utils-formInit();
    @include stepper-variant(58px,52px,$--font-size-4,1PX);

    border-radius: 0;
    text-align: center;

    input {
      height: 100%;
    }
  }

  .ossa-stepper__input:disabled,
  .ossa-stepper__input.disabled {
    color: $--text-color-base;
    -webkit-text-fill-color: $--text-color-base;
    -webkit-opacity: 1;
    opacity: 1;
  }
}
