@import '../base.scss';

.ossa-upload {
  margin-left: -14px;

  &__list {
    display: inline-block;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 152px;
    height: 152px;
    margin: 14px;
    border-radius: 8px;
    @include hairline-surround();

    &::after {
      border-radius: 8px;
    }

    &__img {
      display: block;
      width: 152px;
      height: 152px;
      border-radius: 4px;

      img {
        border-radius: 4px;
      }
    }

    .u-img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }

    .ossa-upload__icon--delete {
      position: absolute;
      right: -18px;
      top: -18px;
      font-size: 36px;
      color: $--fill-gray;
    }
  }

  &__btn {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 152px;
    height: 152px;
    border: 2px dashed #BBB;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 14px;
    text-align: center;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
    }

    .ossa-icon {
      font-size: 48px;
      color: $--text-color-placeholder;
      display: block;
      width: 48px;
      margin: 25px auto 8px;
    }

    &::after {
      content: '上传图片';
      font-size: $--font-size-4;
      color: $--text-color-placeholder;
      line-height: 36px;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      bottom: 25px;
    }
  }
}
